.projectScreen {
    width: 100%;
    height: 100vh;

    position: fixed;
    inset: 0 0;

    display: grid;
    justify-content: center;
    
    background-color: hsla(0, 0%, 0%, 0.7);
    backdrop-filter: var(--glass-filter);
    
    overflow-y: auto;
    
    opacity: 0;
    animation: fadeIn 0.1s ease-in-out forwards;
    
    z-index: 20;

    --side-padding: 5vw;

    .projectContainer {
        background: var(--bg-color);

        position: relative;

        opacity: 0;
        transform: translateY(4rem);
        
        animation: slideUp 0.3s ease-in-out forwards;

        .closeBtn {
            position: absolute;
            inset: 1rem 1rem auto auto;

            display: grid;
            place-content: center;

            width: 2rem;
            aspect-ratio: 1;

            border-radius: 50%;
            border: 1px solid var(--border);
            background: hsla(var(--glass-color), 0.5);
            box-shadow: 0px 0px 10px 0px hsla(0, 0%, 10%, 0.2);
            
            z-index: 10;
            
            svg {
                font-size: 1.5rem;
                color: var(--text-color);
                opacity: 0.6;
            }
        }

        .coverImage {
            width: 100%;
            aspect-ratio: 16 / 9;
            background-size: cover;
            background-position: center;
            position: relative;

            .projectRepo {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                inset: auto 1rem 1rem auto;
                background: var(--glass-gradient);
                backdrop-filter: var(--glass-filter);
                border: 1px solid var(--border);
                padding: 0.2rem 1rem;
                border-radius: 50px;
                color: var(--text-color);
                text-decoration: none;
                font-size: 1.1rem;
            }
        }

        h1 {
            padding: 2rem var(--side-padding);
            font-weight: 400;
        }

        .content {
            display: grid;
            gap: 2.5rem;
            padding-bottom: 5rem;
            
            .projectPara, .projectBtnPara {
                display: grid;
                gap: 1rem;

                padding: 0rem var(--side-padding);

                text-align: justify;
                white-space: break-spaces;
                line-height: 1.75rem;
                
                h2 {
                    font-weight: 400;
                }
            }
            .projectImgPara {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                
                padding: 0rem var(--side-padding);

                .imgContent {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
    
                .projectImage {
                    aspect-ratio: 1;
                    border-radius: 1rem;
                    background-size: cover;
                    background-position: center left;
                }

                
                text-align: justify;
                white-space: break-spaces;
                line-height: 1.75rem;
                
                h2 {
                    font-weight: 400;
                }
            }
            #reverse {
                flex-direction: column-reverse;

                .projectImage {
                    background-position: center right;
                }
            }
            
            .projectBtnPara {
                .projectBtn {
                    border: 2px solid var(--text-color);
                    padding: 0.5rem 1.4rem;
                    border-radius: 50rem;
                    text-decoration: none;
                    width: max-content;
                    text-align: center;
                    display: block;
                    font-weight: 400;
                    color: var(--text-color);
                    transition: all 0.2s ease-in-out;
                }
    
                .projectBtn:hover, .projectBtn:focus {
                    background: var(--text-color);
                    color: var(--op-text);
                }
    
                .buttonDes {
                    font-size: 0.8rem;
                    margin-top: 0;
                }
            }
        }

    }
}

#close {
    .projectContainer {
        animation: slideDown 0.3s ease-in-out forwards;
    }
}

@media only screen and (min-width: 1020px) {
    .projectScreen {
        padding: 0rem var(--page-padding);
    }

    .projectContainer {
        border-radius: 1rem;
        margin-block: 4rem;

        .coverImage {
            border-radius: 1rem 1rem 0rem 0rem;
        }

        .projectImgPara {
            flex-direction: row !important;
            gap: 2rem;

            div {
                flex-basis: 100%;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes slideDown {
    100% {
        transform: translateY(4rem);
        opacity: 0;
    }
    0% {
        transform: translateY(0rem);
        opacity: 1;
    }
}